apiVersion: 1
contactPoints:
  - orgId: 1
    name: "Slack #network-alerts channel"
    receivers:
      - uid: deexubp9hzpc1b
        type: slack
        settings:
          url: $SLACK_WEBHOOK_URL
          text: |-
            {{ "{{" }} if gt (len .Alerts) 0 {{ "}}" }}
            *Alerts:*
            {{ "{{" }} range .Alerts {{ "}}" }}
            - {{ "{{" }} with (index .Labels "k8s_namespace_name") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown-namespace{{ "{{" }} end {{ "}}" }}: {{ "{{" }} with (index .Annotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
            {{ "{{" }} else {{ "}}" }}
            *Alerts:*
            - {{ "{{" }} with (index .CommonAnnotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}

            *Grafana overview:*
            {{ "{{" }} .ExternalURL {{ "}}" }}d/aztec-network/network-overview?orgId=1&refresh=30s&var-data_source=default&var-namespace={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}{{ "{{" }} printf "\n" {{ "}}" }}

            *GKE workloads:*
            https://console.cloud.google.com/kubernetes/workload/overview?project={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}&supportedpurview=project&pageState=%28%22savedViews%22%3A%28%22n%22%3A%5B%22{{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}%22%5D%29%29
        disableResolveMessage: false

  - orgId: 1
    name: "Slack #alerts-staging-public"
    receivers:
      - uid: alertsstagingpublic
        type: slack
        settings:
          url: $SLACK_WEBHOOK_STAGING_PUBLIC_URL
          text: |-
            {{ "{{" }} if gt (len .Alerts) 0 {{ "}}" }}
            *Alerts:*
            {{ "{{" }} range .Alerts {{ "}}" }}
            - {{ "{{" }} with (index .Labels "k8s_namespace_name") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown-namespace{{ "{{" }} end {{ "}}" }}: {{ "{{" }} with (index .Annotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
            {{ "{{" }} else {{ "}}" }}
            *Alerts:*
            - {{ "{{" }} with (index .CommonAnnotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}

            *Grafana overview:*
            {{ "{{" }} .ExternalURL {{ "}}" }}d/aztec-network/network-overview?orgId=1&refresh=30s&var-data_source=default&var-namespace={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}{{ "{{" }} printf "\n" {{ "}}" }}

            *GKE workloads:*
            https://console.cloud.google.com/kubernetes/workload/overview?project={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}&supportedpurview=project&pageState=%28%22savedViews%22%3A%28%22n%22%3A%5B%22{{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}%22%5D%29%29
        disableResolveMessage: false

  - orgId: 1
    name: "Slack #alerts-staging-ignition"
    receivers:
      - uid: alertsstagingignition
        type: slack
        settings:
          url: $SLACK_WEBHOOK_STAGING_IGNITION_URL
          text: |-
            {{ "{{" }} if gt (len .Alerts) 0 {{ "}}" }}
            *Alerts:*
            {{ "{{" }} range .Alerts {{ "}}" }}
            - {{ "{{" }} with (index .Labels "k8s_namespace_name") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown-namespace{{ "{{" }} end {{ "}}" }}: {{ "{{" }} with (index .Annotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
            {{ "{{" }} else {{ "}}" }}
            *Alerts:*
            - {{ "{{" }} with (index .CommonAnnotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}

            *Grafana overview:*
            {{ "{{" }} .ExternalURL {{ "}}" }}d/aztec-network/network-overview?orgId=1&refresh=30s&var-data_source=default&var-namespace={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}{{ "{{" }} printf "\n" {{ "}}" }}

            *GKE workloads:*
            https://console.cloud.google.com/kubernetes/workload/overview?project={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}&supportedpurview=project&pageState=%28%22savedViews%22%3A%28%22n%22%3A%5B%22{{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}%22%5D%29%29
        disableResolveMessage: false

  - orgId: 1
    name: "Slack #alerts-next-scenario"
    receivers:
      - uid: alertsnextscenario
        type: slack
        settings:
          url: $SLACK_WEBHOOK_NEXT_SCENARIO_URL
          text: |-
            {{ "{{" }} if gt (len .Alerts) 0 {{ "}}" }}
            *Alerts:*
            {{ "{{" }} range .Alerts {{ "}}" }}
            - {{ "{{" }} with (index .Labels "k8s_namespace_name") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown-namespace{{ "{{" }} end {{ "}}" }}: {{ "{{" }} with (index .Annotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
            {{ "{{" }} else {{ "}}" }}
            *Alerts:*
            - {{ "{{" }} with (index .CommonAnnotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}

            *Grafana overview:*
            {{ "{{" }} .ExternalURL {{ "}}" }}d/aztec-network/network-overview?orgId=1&refresh=30s&var-data_source=default&var-namespace={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}{{ "{{" }} printf "\n" {{ "}}" }}

            *GKE workloads:*
            https://console.cloud.google.com/kubernetes/workload/overview?project={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}&supportedpurview=project&pageState=%28%22savedViews%22%3A%28%22n%22%3A%5B%22{{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}%22%5D%29%29
        disableResolveMessage: false

  - orgId: 1
    name: "Slack #alerts-testnet"
    receivers:
      - uid: alertstestnet
        type: slack
        settings:
          url: $SLACK_WEBHOOK_TESTNET_URL
          text: |-
            {{ "{{" }} if gt (len .Alerts) 0 {{ "}}" }}
            *Alerts:*
            {{ "{{" }} range .Alerts {{ "}}" }}
            - {{ "{{" }} with (index .Labels "k8s_namespace_name") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown-namespace{{ "{{" }} end {{ "}}" }}: {{ "{{" }} with (index .Annotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
            {{ "{{" }} else {{ "}}" }}
            *Alerts:*
            - {{ "{{" }} with (index .CommonAnnotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}

            *Grafana overview:*
            {{ "{{" }} .ExternalURL {{ "}}" }}d/aztec-network/network-overview?orgId=1&refresh=30s&var-data_source=default&var-namespace={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}{{ "{{" }} printf "\n" {{ "}}" }}

            *GKE workloads:*
            https://console.cloud.google.com/kubernetes/workload/overview?project={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}&supportedpurview=project&pageState=%28%22savedViews%22%3A%28%22n%22%3A%5B%22{{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}%22%5D%29%29
        disableResolveMessage: false

  - orgId: 1
    name: "Slack #alerts-mainnet"
    receivers:
      - uid: alertsmainnet
        type: slack
        settings:
          url: $SLACK_WEBHOOK_MAINNET_URL
          text: |-
            {{ "{{" }} if gt (len .Alerts) 0 {{ "}}" }}
            *Alerts:*
            {{ "{{" }} range .Alerts {{ "}}" }}
            - {{ "{{" }} with (index .Labels "k8s_namespace_name") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown-namespace{{ "{{" }} end {{ "}}" }}: {{ "{{" }} with (index .Annotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
            {{ "{{" }} else {{ "}}" }}
            *Alerts:*
            - {{ "{{" }} with (index .CommonAnnotations "summary") {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}(no summary){{ "{{" }} end {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}

            *Grafana overview:*
            {{ "{{" }} .ExternalURL {{ "}}" }}d/aztec-network/network-overview?orgId=1&refresh=30s&var-data_source=default&var-namespace={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}{{ "{{" }} printf "\n" {{ "}}" }}

            *GKE workloads:*
            https://console.cloud.google.com/kubernetes/workload/overview?project={{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "gcp_project")
            {{ "}}" }}{{ "{{" }} . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}&supportedpurview=project&pageState=%28%22savedViews%22%3A%28%22n%22%3A%5B%22{{ "{{" }}
              if gt (len .Alerts) 0
            {{ "}}" }}{{ "{{" }}
              with (index (index .Alerts 0).Labels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} else {{ "}}" }}{{ "{{" }}
              with (index .CommonLabels "k8s_namespace_name")
            {{ "}}" }}{{ "{{" }} urlquery . {{ "}}" }}{{ "{{" }} else {{ "}}" }}unknown{{ "{{" }} end {{ "}}" }}{{ "{{" }} end {{ "}}" }}%22%5D%29%29
        disableResolveMessage: false
