apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  VALIDATORS_PER_NODE: {{ .Values.validator.validatorsPerNode | quote }}
  PUBLISHERS_PER_VALIDATOR_KEY: {{ .Values.validator.publishersPerValidatorKey | default 1 | quote }}
  WEB3_SIGNER_URL: {{ .Values.validator.web3signerUrl | default "" | quote }}
