global:
  aztecRollupVersion: "canonical"
  aztecNetwork: ""
  customAztecNetwork:
    enabled: false

bot:
  mnemonic: "test test test test test test test test test test test junk"
  mnemonicStartIndex: 3000
  txIntervalSeconds: 1
  privateTransfersPerTx: 0
  publicTransfersPerTx: 1
  # Do not wait for transactions
  followChain: "NONE"
  botNoStart: false
  feePaymentMethod: "fee_juice"
  ammTxs: false
  maxErrors: 3
  stopIfUnhealthy: true
  nodeUrl: ""
  testAccounts: false
  botPrivateKey: "0xcafe"

  persistence:
    enabled: false
  statefulSet:
    enabled: true

  replicaCount: 1

  node:
    configMap:
      envEnabled: true
    secret:
      envEnabled: true

    preStartScript: |
      source /scripts/get-private-key.sh

      export BOT_ACCOUNT_SALT=$(echo $K8S_POD_NAME | awk -F'-' '{print $NF+1}') # +1 so that salt is not 0

      # set this to a folder in order to capture simulation recordings for later debug
      # be sure to set it to a persistent volume
      export CIRCUIT_RECORD_DIR=""

    startCmd:
      - --bot
      - --pxe

    hostNetwork: false

  service:
    p2p:
      enabled: false
      nodePortEnabled: false
    admin:
      enabled: false
    headless:
      enabled: false
