# CI for Aztec Network Scenarios.
# Triggered by network-deployments event, which is emitted by ci3.yml when a tagged release passes "normal" CI.
#
name: Test Network Scenarios

on:
  repository_dispatch:
    types:
      - network-deployments

concurrency:
  group: test-network-scenarios-${{ github.event.client_payload.major_version }}
  cancel-in-progress: true

jobs:
  deploy-and-test-scenarios:
    runs-on: ubuntu-latest
    env:
      NETWORK_ENV_FILE: /tmp/network.env
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcp-key.json
    steps:
      #############
      # Prepare Env
      #############
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.event.client_payload.sha }}
          persist-credentials: false
      - name: Setup
        run: |
          # Ensure we can SSH into the spot instances we request.
          mkdir -p ~/.ssh
          echo ${{ secrets.BUILD_INSTANCE_SSH_KEY }} | base64 --decode > ~/.ssh/build_instance_key
          chmod 600 ~/.ssh/build_instance_key
          sudo apt install -y --no-install-recommends redis-tools parallel

      - name: Store the GCP key in a base64 encoded string
        run: |
          echo "GCP_SA_KEY_B64=$(echo "${{ secrets.GCP_SA_KEY }}" | base64 -w 0)" >> $GITHUB_ENV

      # note: it is fine to log the mnemonic here. this is an internal,
      # throwaway test network, which you can see gets destroyed before it is created each time.
      - name: Write network env file into a base64 encoded string
        run: |
          SEMVER_SALT = $(echo ${{ github.event.client_payload.major_version }} | md5sum | cut -d' ' -f1)
          cat > ${{ env.NETWORK_ENV_FILE }} <<EOF
          DESTROY_ETH_DEVNET=true
          CREATE_ETH_DEVNET=true
          DESTROY_ROLLUP_CONTRACTS=true
          DESTROY_AZTEC_INFRA=true
          GCP_PROJECT_ID=${{ secrets.GCP_PROJECT_ID }}
          GCP_REGION=us-west1-a
          CLUSTER=aztec-gke-private
          SALT=${SEMVER_SALT}
          NAMESPACE="v${{ github.event.client_payload.major_version }}-scenario"
          AZTEC_DOCKER_IMAGE="aztecprotocol/aztec:${{ github.event.client_payload.semver }}"
          ETHEREUM_CHAIN_ID=1337
          LABS_INFRA_MNEMONIC="test test test test test test test test test test test junk"
          EOF
          echo "NETWORK_ENV_FILE_B64=$(echo "${{ env.NETWORK_ENV_FILE }}" | base64 -w 0)" >> $GITHUB_ENV

      - name: Get Tree Hash
        run: echo "TREE_HASH=$(git rev-parse HEAD^{tree})" >> $GITHUB_ENV

      - name: Check CI Cache
        id: ci_cache
        uses: actions/cache@v3
        with:
          path: ci-success.txt
          key: ci-network-scenario-${{ env.TREE_HASH }}

      #############
      # Run
      #############
      - name: Run
        if: steps.ci_cache.outputs.cache-hit != 'true'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.AZTEC_BOT_GITHUB_TOKEN }}
          RUN_ID: ${{ github.run_id }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          # Pass the base64 encoded strings, and where they should be decoded to
          NETWORK_ENV_FILE: ${{ env.NETWORK_ENV_FILE }}
          NETWORK_ENV_FILE_B64: ${{ env.NETWORK_ENV_FILE_B64 }}
          GOOGLE_APPLICATION_CREDENTIALS: ${{ env.GOOGLE_APPLICATION_CREDENTIALS }}
          GCP_SA_KEY_B64: ${{ env.GCP_SA_KEY_B64 }}
        run: |
          # the network env file and gcp credentials file are mounted into the ec2 instance
          # see ci3/bootstrap_ec2
          exec ./ci.sh network-deploy
          exec ./ci.sh network-tests

      - name: Save CI Success
        if: steps.ci_cache.outputs.cache-hit != 'true'
        run: echo "success" > ci-success.txt
